@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@multilanguage.Resources.Resource.Welcome</h1>
    <p>@multilanguage.Resources.Resource.learnabout <a href="https://learn.microsoft.com/aspnet/core">@multilanguage.Resources.Resource.building</a>.</p>
</div>
